<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheets/default.css">
        <link type="text/css" rel="stylesheet" href="stylesheets/index-stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="javascript/index-script.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>STAR-Trading</title>
    </head>
    <body>
        <!-- Header -->
        <div class="streamer">
            <div class="header">
                <div class="header-background">
                    <img src="pictures/streamer/martin.png">
                </div>
                <img class="logo" src="pictures/logo/star-trading-outline.gif">
                <ul class="navbar">
                    <li>
                        <a href="/">Forside</a>
                    </li>
                    <li>
                        <a href="produkter">Produkter</a>
                    </li>
                    <li>
                        <a href="info">Info</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="border">
        </div>

        <!-- Content body -->
        <div class="background">
            <div class="content">
                <div class="gap">
                </div>

                <div class="heavy typical text-box container">
                    <p>
                        Velkommen til Star-trading.dk!<br><br>Her finder du blandt andet redningssystemer, frig&#248relsesv&#230rkt&#248j, h&#248jderedning- og faldsikringsudstyr, manuelt og pneumatisk v&#230rkt&#248j - s&#229gar slidst&#230rke handsker og st&#248vler - alt sammen udviklet af udvalgte internationale producenter med mange &#229rs erfaring p&#229 bagen.
                    </p>
                </div>
                <div class="gap">
                </div>
                
                <div class="top-entry container">
                    <h1 class="title typical">STAR-Trading til Interschutz 2015</h1>
                    <div class="carousel">
                        <div class="prev arrow">
                            <img src="pictures/arrow-left.png">
                        </div>
                        
                        <div id="carousel" class="image-box">
                            <!-- Carousel images -->
                            <img class="active" src="pictures/interschutz-2015/red-seiz-stand.JPG">
                            <img src="pictures/interschutz-2015/martin-conversation.JPG">
                            <img src="pictures/interschutz-2015/fire-eagle.JPG">
                            <img src="pictures/interschutz-2015/haix-logo.JPG">
                            <img src="pictures/interschutz-2015/haix-flame.JPG">
                            <img src="pictures/interschutz-2015/heroes-wear-haix.JPG">
                            <img src="pictures/interschutz-2015/shoe-display.JPG">
                            <img src="pictures/interschutz-2015/seiz-booth.JPG">
                            <img src="pictures/interschutz-2015/seiz-counter.JPG">
                            <img src="pictures/interschutz-2015/seiz-monitor.JPG">
                            <img src="pictures/interschutz-2015/martin-motorcycle.JPG">
                            <img src="pictures/interschutz-2015/paratech-equipment1.JPG">
                            <img src="pictures/interschutz-2015/paratech-equipment2.JPG">
                            <img src="pictures/interschutz-2015/supports.JPG">
                            <img src="pictures/interschutz-2015/tractor-support.JPG">
                        </div>
                        
                        <div class="next arrow">
                            <img src="pictures/arrow-right.png">
                        </div>
                    </div>

                    <div class="description typical">
                        <p>
                            Interschutz 2015 - messe for udstyr og teknologi indenfor brand og redning.
                        </p>
                    </div>
                </div>

                <div class='gap'>
                </div>

                <!-- old news entry container
                <div class="entry container">
                    <div class="image-box">
                        <img src="#">
                    </div>
                    <h1 class="title">Entry header</h1>
                    <div class="description typical">
                        <p>
                            lorem ipsum dolor sit amet
                        </p>
                    </div>
                </div-->

            </div>
        </div>

        <!-- Footer -->
        <div class="border">
        </div>

        <div class="footer">
            <img src="pictures/logo/star-trading.gif">
            <div class="contact typical">
                <p>
                    <strong>2015 - Star-trading.dk v/ Martin Damgaard</strong>
                </p>
                <p>
                    <strong>22 43 91 63</strong> - 21 66 21 67<br><strong>star.trading.dk@gmail.com</strong>
                </p>
                <p>
                    <strong>Vestre Landevej 117<br>6800 - Varde</strong>
                </p>
            </div>
        </div>
            
    </body>
</html>