<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheets/default.css">
        <link type="text/css" rel="stylesheet" href="stylesheets/info-stylesheet.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Info - STAR-Trading</title>
    </head>
    <body>
        <!-- Header -->
        <div class="streamer">
            <div class="header">
                <div class="title">
                    <h1>Info</h1>
                </div>
                <div class="header-background">
                    <img src="pictures/streamer/fredericia-brand.png">
                </div>
                <ul class="navbar">
                    <li>
                        <a href="/">Forside</a>
                    </li>
                    <li>
                        <a href="produkter">Produkter</a>
                    </li>
                    <li>
                        <a href="info">Info</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="border">
        </div>
        
        <!-- Content -->
        <div class="background">
            <div class="content">
                <div class="gap">
                </div>
                <div class="text-box container heavy typical">
                    <p>
        STAR Trading blev startet af Martin Damgaard i 2013. Firmaet st&#229r for salg af specialrednings-, faldsikrings- og h&#248jderedningsudstyr, pneumatisk og manuelt v&#230rkt&#248j, st&#248vler og mange andre produkter fra udvalgte specialister verden over.
                    </p>
                </div>
                
                <div class="info-gap">
                    <div class="contact-box container">
                        <ul class="typical">
                            <h3><em><strong>STAR Trading</strong></em></h3>
                            <li><strong>Martin Damgaard</strong></li>
                            <li><strong>Vestre Landevej 117</strong></li>
                            <li><strong>6800 Varde</strong></li>
                            <li><strong>22 43 91 63 - </strong>21 66 21 67</li>
                            <li><strong>star.trading.dk@gmail.com</strong></li>
                        </ul>
                    </div>
                    
                    <div class="image-box">
                        <img src="pictures/jmd/profile-shades.jpg"/>
                        <img src="pictures/jmd/cable-suspension.jpg"/>
                        <img src="pictures/jmd/front-paratech-shirt.jpg"/>
                    </div>
                </div>

                <div class="info-box container typical">
                    <h3>Martin Damgaard</h3>
                    <p>
    Fra sergeant i forsvaret 1995 til uddannet redder i 2000 i fag:
    Brand, frig&#248relse, specialredning og h&#248jderedning.
    Martin har siden &#229rtusinde-skiftet arbejdet med redning og blev i 2001 uddannet som ambulance-behandler. I dag er han uddannet ambulance-behandler (niveau 2) og k&#248rer ambulance p&#229 fuld tid.
                    </p>
                    <p>
    Ud over redning har Martin v&#230ret instrukt&#248r hos EUC-vest (nu kaldet Rescue Center Denmark) i 2003. Afbrudt af uddannelse fortsatte han i 2007 som instrukt&#248r hos EUC-vest i fag:
    Brand, frig&#248relse, special-redning, h&#248jderedning og ambulance.
    Siden 2014 underviser fortsat i emnerne:
    H&#248jderedning, frig&#248relse og faldsikring den dag i dag.
                    </p>
                </div>

                <div class="info-box container typical">
                    <h3>STAR Trading</h3>
                    <p>
    STAR st&#229r for Special Trauma Advanced Rescue -
    Siden 2013 har STAR Trading haft at g&#248re med salg af v&#230rkt&#248jer, beskyttelse og udstyr til katastrofesituationer i samarbejde med internationale producenter.
                    </p>
                    <p>
    Star-trading.dk blev oprettet i starten af 2015 - her kan du se kataloger fra de producenter, vi f&#248rer varer fra. Kontakt os venligst ang&#229ende hvilke som helst sp&#248rgsm&#229l via ovenst&#229ende kontakt-information.
                    </p>
                </div>
                
                <div class="gap">
                </div>
                
            </div>
        </div>
                
        <!-- Footer -->
        <div class="border">
        </div>
        <div class="footer">
            <img src="pictures/logo/star-trading.gif">
            <div class="contact typical">
                <p>
                    <strong>2015 - Star-trading.dk v/ Martin Damgaard</strong>
                </p>
                <p>
                    <strong>22 43 91 63</strong> - 21 66 21 67<br><strong>star.trading.dk@gmail.com</strong>
                </p>
                <p>
                    <strong>Vestre Landevej 117<br>6800 - Varde</strong>
                </p>
            </div>
        </div>
    </body>
</html>