<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheets/default.css">
        <link type="text/css" rel="stylesheet" href="stylesheets/produkter-stylesheet.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Produkter - STAR-Trading</title>
    </head>
    <body>
        <!-- Header -->
        <div class="streamer">
            <div class="header">
                <div class="title">
                    <h1>Produkter</h1>
                </div>
                <div class="header-background">
                    <img src="pictures/streamer/paratech-equipment.png">
                </div>
                <ul class="navbar">
                    <li>
                        <a href="/">Forside</a>
                    </li>
                    <li>
                        <a href="produkter">Produkter</a>
                    </li>
                    <li>
                        <a href="info">Info</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="border">
        </div>
        
        <!-- Content body -->
        <div class="background">
            <div class="content">
                <div class="gap">
                </div>
                <div class="product-line">
                    
                    <div class="container text-box heavy typical">
                        <p>
                            Hos STAR Trading findes udstyr fra producenterne Paratech og Petzl, der begge leverer et bredt udvalg af v&#230rkt&#248jer, redningssystemer og katastrofeudstyr til alle t&#230nkelige situationer. Her finder du ogs&#229 fodt&#248j fra HAIX, der st&#229r for p&#229lidelige sko og st&#248vler samt handsker i h&#248j kvalitet fra SEIZ.
                        </p>
                        <p>
                            L&#198G M&#198RKE TIL: Katalogerne er store og kan tage lang tid at l&#230se - Pr&#248v i stedet at h&#248jreklikke p&#229 linket og v&#230lg "Gem link som..." for at downloade kataloget til din maskine.
                        </p>
                    </div>
                    
                <!-- Paratech display -->
                <div class="container manufacturer">
                    <a href="files/ParatechMainCatalog.pdf" target="_blank">
                        <div class="link-box">
                            <img src="pictures/logo/paratech.png">
                            <p>Klik her for at se kataloget</p>
                        </div>
                    </a>

                    <div class="desc typical">
                        <p>
    Amerikanske <strong>Paratech</strong> har i over 40 &#229r leveret v&#230rkt&#248j og redningsudstyr med innovativt og brugervenligt design, cutting-edge teknologi og h&#248j kvalitet til hele verden.
                        </p>
                        <p>
    Produktlinjen best&#229r blandt andet af redningssystemer, luftpuder, pneumatisk slagv&#230rkt&#248j, forseglingssystemer og faldsikringsredskaber. Med Paratechs store udvalg har de altid et v&#230rkt&#248j til jobbet!
                        </p>
                        <p>
    Simpelhed og sikkerhed er i h&#248js&#230de hos Paratech og det er muligvis grunden til, at deres produkter er standard udstyr hos beredsskabsstyrelser i blandt andet USA, Japan, Storbritannien og Danmark.
                        </p>
                    </div>
                </div>
                    
                 <!-- SEIZ display -->
                <div class="container manufacturer">
                    <a href="#" target="_blank">
                        <div class="link-box">
                            <img class="wide-logo" src="pictures/logo/seiz.png">
                            <p>Katalog kommer snart</p>
                        </div>
                    </a>

                    <div class="desc typical">
                        <p>
    Tyske <strong>SEIZ</strong> startede som en skr&#230dderg&#229rd i 1961, men er i dag - efter godt 50 &#229r - et internationalt firma, som producerer komfortable handsker af h&#248j kvalitet med fokus p&#229 flexibilitet.
                        </p>
                        <p>
H&#230nderne er i f&#248lge SEIZs bagm&#230nd det vigtigste og mest delikate v&#230rkt&#248j vi har, og de designer derfor deres handsker med fingrenes n&#248jsomme arbejde i betragtning uden at hindre deres finesse.
                        </p>
                        <p>
Tillige overholder alle handsker fra SEIZ standarderne for ISO 9001, som har udstedt kvalitets-certifikater kloden rundt.
                        </p>
                    </div>
                </div>

                <!-- Petzl display -->
                <div class="container manufacturer">
                    <a href="files/PetzlCatalogPro2015EN.pdf" target="_blank">
                        <div class="link-box">
                            <img src="pictures/logo/petzl.png">
                            <p>Klik her for at se kataloget</p>
                        </div>
                    </a>

                    <div class="desc typical">
                        <p>
    Siden 1968 har franske <strong>Petzl</strong> st&#229et for l&#248sninger til situationer i trange, m&#248rke, vertikale og sv&#230re-at-n&#229 omr&#229der. Med mange &#229rs innovative forbedringer har Petzl udviklet et slidst&#230rkt sortiment af komfortable og ergonomiske v&#230rkt&#248jer og systemer, som kan modst&#229 h&#229rd slagkraft og ekstreme temperaturer.
                        </p>
                        <p>
    Folkene bag Petzls produkter har en bred ekspertise. Dette reflekteres i deres brede sortiment best&#229ende af alt fra advancerede h&#248jderedningssystemer til p&#229lidelige pandelamper.
                        </p>
                        <p>
    Alle deres produkter er grundigt efterset af automatiske s&#229 vel som manuelle tests, der sikre deres holdbarhed, sikkerhed og optimale anvendelighed.
                        </p>
                    </div>
                </div>

                <div class="container manufacturer">
                    <a href="files/HaixKatalog2014.pdf" target="_blank">
                        <div class="link-box">
                            <img src="pictures/logo/haix.png">
                            <p>Klik her for at se kataloget</p>
                        </div>
                    </a>

                    <div class="desc typical">
                        <p>
    I 1992 var <strong>HAIX</strong> et lille, tysk skomager-firma. Nu producerer de hver eneste dag tusindvis af robuste sko. Brandm&#230nd, j&#230gere, politi eller milit&#230r i adskillige lande benytter sig til daglig af standhaftigt fodt&#248j fra HAIX.
                        </p>
                        <p>
    Komfort og ankelst&#248tte er vigtige egenskaber, n&#229r man v&#230lger fodt&#248j til ethvert job. Ud over disse findes ogs&#229 sko med brandsikre, vandt&#230tte, isolerende, slagsikre og anti-statiske egenskaber blandt HAIXs sortiment.
                        </p>
                        <p>
    Kvaliteten hos HAIX b&#230rer pr&#230g af, at de grundl&#230ggende tanker bag deres produkter er udt&#230nkt af folk, som selv st&#229r - eller har st&#229et - med de udfordringer, fodt&#248jet skal overkomme.
                        </p>
                    </div>
                </div>
            </div>
            </div>
            <div class="gap">
            </div>
        </div>
        
        <div class="border">
        </div>
        
        <div class="footer">
            <img src="pictures/logo/star-trading.gif">
            <div class="contact typical">
                <p>
                    <strong>2015 - Star-trading.dk v/ Martin Damgaard</strong>
                </p>
                <p>
                    <strong>22 43 91 63</strong> - 21 66 21 67<br><strong>star.trading.dk@gmail.com</strong>
                </p>
                <p>
                    <strong>Vestre Landevej 117<br>6800 - Varde</strong>
                </p>
            </div>
        </div>
        
    </body>
</html>